Repository nanotaboada/python-samples-fastapi-restful: changes, and which Codecov flags are due for each by the changed paths.
All: Services, Routes

refactor(tests): adopt action-oriented naming convention
  .github/copilot-instructions.md
  AGENTS.md
  tests/test_main.py
Due: none

chore(cd): add empty changelog guard for re-tagged releases
  .github/workflows/python-cd.yml
Due: none

test: update test data for expanded player database
  storage/players-sqlite3.db
  tests/player_stub.py
  tests/test_main.py
Due: none

refactor(tests): adopt action-oriented naming convention
  .github/copilot-instructions.md
  AGENTS.md
  storage/players-sqlite3.db
  tests/player_stub.py
  tests/test_main.py
Due: none

test: make CRUD test flow atomic using single player ID
  tests/test_main.py
Due: none

test: use json parameter for proper Content-Type in POST/PUT
  tests/test_main.py
Due: none

style(docs): lint markdown in copilot-instructions
  .github/copilot-instructions.md
Due: none

chore(config): align CodeRabbit rules with new test naming convention
  .coderabbit.yaml
Due: none

docs(copilot): unify instructions as canonical single-file format
  .github/copilot-instructions.md
  AGENTS.md
Due: none

feat(api): replace integer PK with UUID v4 for Player entity (#66)
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  CHANGELOG.md
  codecov.yml
  models/player_model.py
  pyproject.toml
  routes/player_route.py
  schemas/player_schema.py
  services/player_service.py
  storage/players-sqlite3.db
  tests/player_stub.py
  tests/test_main.py
  tools/seed_001_starting_eleven.py
  tools/seed_002_substitutes.py
Due: Services, Routes

fix(api): address code review findings (#66)
  models/player_model.py
  routes/player_route.py
  schemas/player_schema.py
  services/player_service.py
  tests/test_main.py
  tools/seed_001_starting_eleven.py
  tools/seed_002_substitutes.py
Due: Services, Routes

fix(api): address code review findings (#66)
  .coveragerc
  CHANGELOG.md
  models/player_model.py
  routes/player_route.py
  schemas/player_schema.py
  services/player_service.py
  tests/test_main.py
  tools/seed_001_starting_eleven.py
  tools/seed_002_substitutes.py
Due: Services, Routes

fix(api): add Optional field defaults and pragma: no cover (#66)
  models/player_model.py
  services/player_service.py
Due: Services

fix(api): address code review suggestions (#66)
  services/player_service.py
  storage/players-sqlite3.db
  tests/test_main.py
  tools/seed_001_starting_eleven.py
Due: Services

chore(api): replace Postman collection with REST Client file (#493)
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  codecov.yml
  postman_collections/python-samples-fastapi-restful.postman_collection.json
  pyproject.toml
  rest/players.rest
Due: none

chore(rest): fix middleName null value and add CHANGELOG references (#493)
  CHANGELOG.md
  rest/players.rest
Due: none

chore(deps): migrate to uv with PEP 735 dependency groups (#447)
  .github/copilot-instructions.md
  .github/workflows/python-cd.yml
  .github/workflows/python-ci.yml
  .gitignore
  CHANGELOG.md
  Dockerfile
  README.md
  pyproject.toml
  requirements-lint.txt
  requirements-test.txt
  requirements.txt
  uv.lock
Due: none

fix(docker): run seed scripts on startup to guard against stale volumes
  Dockerfile
  scripts/entrypoint.sh
Due: none

fix(docker): add --no-cache-dir to pip install uv (DL3042)
  Dockerfile
Due: none

chore(ci): remove redundant group installs and deduplicate pytest runs
  .github/workflows/python-cd.yml
  .github/workflows/python-ci.yml
  CHANGELOG.md
  README.md
Due: none

fix(docker): pin uv version and exclude dev deps from production wheel build
  Dockerfile
Due: none

chore(changelog): release 1.1.0 - Bielsa
  CHANGELOG.md
Due: none

chore(deps): bump astral-sh/setup-uv from 7 to 7.3.1
  .github/workflows/python-cd.yml
  .github/workflows/python-ci.yml
Due: none

chore(coderabbit): add custom finishing touch recipes
  .coderabbit.yaml
Due: none

fix(coderabbit): align CI workflow path instructions with actual implementation
  .coderabbit.yaml
Due: none

fix(coderabbit): align Docker image with actual implementation
  .coderabbit.yaml
Due: none

docs(readme): refresh structure with Mermaid diagram and new sections
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  assets/images/structure.svg
  assets/images/swagger.png
Due: none

docs(readme): fix caching layer attribution in architecture description
  README.md
Due: none

chore(docs): update Claude config and architecture diagram
  .claude/settings.json
  CLAUDE.md
  README.md
Due: none

ci: add CodeQL workflow
  .github/workflows/codeql.yml
Due: none

chore(docs): update CodeQL badge
  README.md
Due: none

docs(readme): update architecture diagram and add explanatory text
  .github/copilot-instructions.md
  README.md
Due: none

docs(github): add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs(readme): fix soft dependency direction for routes and SQLAlchemy
  README.md
Due: none

refactor(api): use squad number for PUT and DELETE endpoints (#521)
  .claude/settings.local.json
  .github/copilot-instructions.md
  .markdownlint.json
  CHANGELOG.md
  README.md
  rest/players.rest
  routes/player_route.py
  services/player_service.py
  tests/test_main.py
Due: Services, Routes

refactor(api): use squad number for PUT and DELETE endpoints (#521)
  .claude/settings.json
  .github/copilot-instructions.md
  .gitignore
  .markdownlint.json
  CHANGELOG.md
  README.md
  rest/players.rest
  routes/player_route.py
  services/player_service.py
  tests/test_main.py
Due: Services, Routes

refactor(api): address review feedback on route and service layer (#521)
  routes/player_route.py
  services/player_service.py
Due: Services, Routes

Path conditions:
  Services: any of: services/, but not: ^assets/.*, ^database/.*, ^models/.*, ^postman_collections/.*, ^schemas/.*, ^tests/.*, .*\.yml$, .*\.json$, .*\.txt$, ^__pycache__(/.*)?$, .*\.pyc$, ^LICENSE$, ^main\.py$, ^README\.md$
  Routes: any of: routes/, but not: ^assets/.*, ^database/.*, ^models/.*, ^postman_collections/.*, ^schemas/.*, ^tests/.*, .*\.yml$, .*\.json$, .*\.txt$, ^__pycache__(/.*)?$, .*\.pyc$, ^LICENSE$, ^main\.py$, ^README\.md$
